[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=sway-session.target

[Service]
Type=simple
EnvironmentFile=%h/.config/swayidle/timeouts
ExecStart=%h/.local/bin/swayidle-wrapper.sh
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
