{{- $interactive := stdinIsATTY -}}
{{- $sway_conf := true -}}
[git]
autoCommit = true
[edit]
command = "nvim"
[diff]
exclude = ["externals"]
command = "delta"
args = ["--dark", "--paging=never", "{{`{{ .Target }}`}}", "{{`{{ .Destination }}`}}"]
[merge]
command = "nvim"
args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}`}}", "{{`{{ .Target }}`}}"]
{{ if $interactive }}
{{-     $sway_conf = promptBool "Store Sway config files" true -}}
{{- end -}}
[data]
sway_conf = {{ $sway_conf }}

