Xcursor.size: 24
Xcursor.theme: Bibata-Modern-Ice
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
*.dpi: 96
Xft.rgba: rgb

#include "{{ .chezmoi.homeDir }}/.config/xresourcecolors/frappe.Xresources"
