@import "../colors/waybar/frappe.css";

* {
  font-family: "JetBrainsMono NF";
  font-size: 11pt;
  font-weight: 600;
  min-height: 0;
  border: none;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
}

window#waybar.hidden {
  background-color: transparent;
}

window#waybar > .horizontal {
  border-radius: 12px;
  background-color: @base;
}

#workspaces {
  background-color: @surface0;
  border-radius: 0px 1rem 1rem 0px;
  margin: 5px;
  margin-left: 0px;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.focused {
  color: @sky;
}

#workspaces button.urgent {
  color: @yellow;
  animation: blink 1s ease-in infinite;
}

#workspaces button:hover {
  background-color: @flamingo;
}

tooltip {
  background: @surface1;
  border-radius: 8px;
}

tooltip label {
  color: @text;
}

#custom-launcher {
  color: @blue;
}

#scratchpad,
#mode,
#clock,
#tray,
#memory,
#backlight-slider,
#temperature,
#cpu,
#mpd,
#idle_inhibitor,
#backlight,
#pulseaudio,
#bluetooth,
#power-profiles-daemon,
#network,
#battery,
#custom-powermenu,
#custom-cava-internal,
#custom-launcher,
#custom-theme_toggle,
#custom-notification {
  padding: 0.4rem 1rem;
  margin: 5px 0;
}

#mode {
  color: @text;
}

#power-profiles-daemon {
  color: @text;
}

#scratchpad {
  color: @text;
}

#tray {
  margin: 0 8px;
}

#memory {
  color: @sky;
}

#cpu {
  color: @rosewater;
}

#custom-theme_toggle.dark {
  color: @mauve;
}

#custom-theme_toggle.light {
  color: @peach;
}

#custom-theme_toggle:hover {
  color: @lavender;
}

#custom-theme_toggle {
  padding-left: 0.8rem;
  border-radius: 0px 1rem 1rem 0px;
  background-color: @surface0;
}

#clock {
  background-color: @surface0;
  border-radius: 1rem 0px 0px 1rem;
  padding-right: 0px;
  color: @text;
}

#idle_inhibitor {
  border-radius: 1rem 0px 0px 1rem;
  background-color: @surface0;
  color: @mauve;
}

#temperature {
  color: @teal;
}

#temperature.critical {
  color: @red;
}

#backlight {
  background-color: @surface0;
  color: @peach;
}

#custom-notification {
  background-color: @base;
  /* padding-right: 0.5rem; */
  color: @subtext0;
}

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
  background-color: @surface0;
  color: @flamingo;
}

#bluetooth {
  padding-left: 0px;
  background-color: @surface0;
  color: @sky;
}

#bluetooth.off {
  color: @yellow;
}

#bluetooth.connected {
  color: @green;
}

#bluetooth.on {
  color: @sapphire;
}

#network {
  padding-left: 0px;
  background-color: @surface0;
  color: @text;
}

#network.disconnected {
  color: @yellow;
}

#network.disabled {
  color: @lavender;
}

#network.linked {
  color: @peach;
}

#network.wifi {
  color: @teal;
}

#network.ethernet {
  color: @green;
}

#battery {
  padding-left: 0px;
  border-radius: 0px 1rem 1rem 0px;
  background-color: @surface0;
}

#battery.charging,
#battery.full,
#battery.discharging {
  color: @rosewater;
}

#battery.plugged {
  color: @sapphire;
}

#battery.critical:not(.charging) {
  color: @red;
  animation: blink 2s steps(2, start) infinite;
}

#custom-powermenu {
  color: @flamingo;
}

#mpd.paused {
  color: #414868;
  font-style: italic;
}

#mpd.stopped {
  background: transparent;
}

#mpd {
  color: #c0caf5;
}

@keyframes blink {
    to {
      opacity: 0;
    }
}
