{
	"buildDir": "{{ .chezmoi.homeDir }}/cache/aur",
	"editor": "nvim",
	"makepkgconf": "/etc/makepkg.conf",
	"removemake": "yes",
	"timeupdate": true,
	"devel": true,
	"diffmenu": false,
	"editmenu": true,
	"useask": true,
	"batchinstall": true
}

# vim:ft=json
