#
# $PARU_CONF
# /etc/paru.conf
# ~/.config/paru/paru.conf
#
# See the paru.conf(5) manpage for options

#
# GENERAL OPTIONS
#
[options]
PgpFetch
Devel
Provides
DevelSuffixes = -git -cvs -svn -bzr -darcs -always -hg -fossil
CloneDir = {{ .chezmoi.homeDir }}/.cache/aur
#AurOnly
BottomUp
RemoveMake = ask
#SudoLoop
#UseAsk
#SaveChanges
BatchInstall
#CombinedUpgrade
#CleanAfter
UpgradeMenu
NewsOnUpgrade
SkipReview

#LocalRepo
#Chroot
#Sign
#SignDb
#KeepRepoCache

#
# Binary OPTIONS
#
#[bin]
#FileManager = vifm
#MFlags = --skippgpcheck
#Sudo = doas

# vim:ft=conf
